<body class="card-no-border">
  <!-- ============================================================== -->
  <!-- Preloader - style you can find in spinners.css -->
  <!-- ============================================================== -->
  <!-- <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Admin Pro</p>
        </div>
    </div> -->
  <!-- ============================================================== -->
  <!-- Main wrapper - style you can find in pages.scss -->
  <!-- ============================================================== -->
  <section id="wrapper">
    <div class="login-register" style="background-image:url(../assets/images/background/bg_1.jpg);">
      <div class="login-box card">
        <div class="card">
          <div class="card-body">
            <div align="center" class="m-t-30"> <img src="https://via.placeholder.com/150" class="img-circle"
                width="150" />
              <h4 class="card-title m-t-10">Hanna Gover</h4>
              <div class="row text-center justify-content-md-center">
                <div class="col-4"><a href="javascript:void(0)" class="link"><i class="icon-people"></i>
                    <font class="font-medium">254</font>
                  </a></div>
                <div class="col-4"><a href="javascript:void(0)" class="link"><i class="icon-calender"></i>
                    <font class="font-medium">54</font>
                  </a></div>
              </div>
            </div>
          </div>
          <div>
            <hr>
          </div>
          <div class="card-body">
            <small class="text-muted">Fecha de vencimiento </small>
            <h6>10 de mayo de no se que fecha</h6> 
            <small class="text-muted p-t-30 db">Mensualidades</small>
            <!-- <h6>+91 654 784 547</h6> <small class="text-muted p-t-30 db">Address</small> -->
            <!-- <h6>71 Pilgrim Avenue Chevy Chase, MD 20815</h6> -->
            <div>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Fecha</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>